@media (max-width: 1024px) {

    .years-of-success-image-border {
        height: 70%;
    }

    .years-of-success-image-border-2 {
        height: 60%;
    }

    .years-of-success-image-border-3,
    .years-of-success-image-border-4 {
        height: 75%;
    }
}
    

@media (max-width: 768px) {

    nav ul {
        display: none;
    }

    nav .menu li:last-child {
        display: block;
    }

    .my-staging-expertise-content {
        align-items: center;
    }

    .box-container {
        display: flex;
        flex-wrap: wrap;
    }

    .years-of-success-image, 
    .years-of-success-image-2 {
        width: 60%;
        float: unset;
        margin: auto;
    }
 
    .years-of-success-image-3, 
    .years-of-success-image-4 {
        width: 50%;
        float: unset;
        margin: auto;
    }

    .years-of-success-image-border {
        top: 10%;
        left: 10%;
        width: 60%;
        height: 80%;
    }

    .years-of-success-image-border-2 {
        top: 10%;
        left: 10%;
        width: 60%;
        height: 72%;
    }
    
    .years-of-success-image-border-3, 
    .years-of-success-image-border-4 {
        top: 10%;
        left: 20%;
        width: 50%;
        height: 80%;
    }

    .box {
        flex-basis: calc(50% - 10px); /* Set a consistent basis for each box */
        flex-grow: 0; 
    }

    .column-alignment {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .years-of-success-container {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .logo-holder {
        display: flex;
        flex-wrap: wrap;
    }

    .section-container-2 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .work-with-us-content {
        width: 100%;
    }

    .selling-process-content {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .footer-content-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-width: 767px) {

    .services-banner-text,
    .services-banner-content input{
        width: 100%;
    }

    .work-with-us-content button {
        width: 50%;
    }

    .years-of-success-image-border,
    .years-of-success-image-border-2,
    .years-of-success-image-border-3, 
    .years-of-success-image-border-4
     {
        height: 100%;
    }

    .years-of-success-image-container {
        height: auto;
    }

    .footer-content-1 {
        display: grid;
        grid-template-columns: 1fr;
    }

    .footer-content-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 425px) {
    .box {
        flex-basis: 100%;
    }

    .years-of-success-image-border {
        height: 100%;
    }

    .section-titles,
    .my-staging-expertise-content p:nth-of-type(2){
    text-align: center;
    }

    .ceo {
    flex-direction: column;
    }

}

@media (max-width: 320px) {
    .box {
        flex-basis: 100%;
    }

    .years-of-success-image-border,
    .years-of-success-image-border-2,
    .years-of-success-image-border-3, 
    .years-of-success-image-border-4 {
        height: 100%;
    }
}
